{% extends 'base.html' %}

{% load static %}
{% block page_content %}
<div class="row container-fluid">



<div class="col-lg-8" style="display: flex;flex-wrap: wrap;justify-content: center; padding-bottom: 20px;">
  {% for product in products %}
  {% for price in prices %}
      {% if price.product_id == product.pk %}
  <div id="shopcard" class="card" style="width: 15rem; padding: 5px;margin: 5px;">
    <img class="card-img-top" src="{{ product.img_product.url }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>

      <p class="card-text"><b>Price:</b> &#2547; {{price.price}}</p>

      {% if product in cart_products %}
      <h6 style="color:red">Added in your cart</h6>
      {% else %}
      <!-- <a href="{% url 'shop:add_to_cart' pk=product.pk %}" class="btn btn-primary">Add to cart</a> -->
      <a style="color:white" onclick="add({{product.pk}})" class="btn btn-primary">Add to cart</a>

      {% endif %}
    </div>
  </div>
    {% endif %}
 {% endfor %}
 {% endfor %}


</div>

<div class="col-lg-4" style="justify-content: center;padding-bottom: 20px;">

<!-- Section: Search Box -->

    <form method="post" action="{%url 'shop:shop' %}">
       {% csrf_token %}
      <input name="key_word" style="margin-top:5px;" type="text" id="search12" class="form-control mb-0" placeholder="Search...">
      <input id="search_filter" hidden type="text" name="price_range" value="">
      <br>
      <button onclick="filter()" type="submit" href="#!" class="btn btn-info">Search</button>
    </form>
    <br>
    <h3 hidden >FILTER BY PRICE</h3>
    <form hidden method="post" action="{%url 'shop:shop' %}">
      {% csrf_token %}
        <input name="price_range" style="width: 100%;height: 10px;" type="range" min="1" max="100" value="50" class="slider" id="myRange">
        <input id="filter_search" hidden type="text" name="key_word" value="">
        <p> Price: <span id="demo"></span></p>
        <button onclick="filter()" type="submit" href="#!" class="btn btn-info">Search</button>
    </form>
    <br>
    <div  style="overflow-x:auto;">
        <h3>YOUR CART</h3>

        <h5>{{message}}</h5>

        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col" width="1%"></th>
              <th scope="col">Product Name</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scop="col">Remove</th>
            </tr>
          </thead>
          <tbody>
            {% for product in cart_products %}
            {% for price in prices %}
                {% if price.product_id == product.pk %}
            <tr>
              <th scope="row"></th>
              <td>{{product.name}}</td>
              <!-- <td>
              <input onchange="val('{{price.price}}','content{{product.pk|safe}}',value)" id="{{product.pk|safe}}"
               type="number" min="1" max="100" value="1" id="points" name="points">
              </td> -->
              <td><span  class="quantity">1</span></td>
              <td><span class="totalprice" id="content{{product.pk|safe}}">{{price.price}}</span></td>
              <td><a href="{% url 'shop:remove_from_cart' pk=product.pk %}" class="btn btn-danger btn-sm">Remove</a></td>
            </tr>

               {%endif%}

            {% endfor %}
            {% endfor %}




            <!-- <tr>
              <th scope="row"></th>
              <td colspan="2">Total</td>
              <td onload="totalprice" colspan="2" id="totalpriceall">&#2547; 00</td>
              <td></td>
            </tr> -->
          </tbody>
        </table>
      </div>

        <a href="{%url 'shop:cart'%}" class="btn btn-success mr-4">View Cart</a>
        <!-- <a href="" class="btn btn-success mr-4">Proceed To Checkout</a> -->






</div>




</div>

</div>


<script>
var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
}
</script>

<script type="text/javascript">

var sum = 0;
$('.totalprice').each(function(){
sum += parseFloat(this.innerText);
                                });
console.log(sum)
document.getElementById('totalpriceall').innerHTML = sum;

function val(price,product,quantity) {
    // let com = document.getElementById(product).value;
    document.getElementById(product).innerHTML = price*quantity;
  var sum = 0;
  $('.totalprice').each(function(){
  sum += parseFloat(this.innerText);
                                  });
  console.log(sum)
  document.getElementById('totalpriceall').innerHTML = sum;
}


</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
function add(id){

$.ajax({
      url: '/shop/add_to_cart/'+id,
      success: function (data) {
      location.reload();
        }
    });
  }
</script>
<script type="text/javascript">
  function filter(){
    document.getElementById('filter_search').value = document.getElementById('search12').value
    document.getElementById('search_filter').value = document.getElementById('myrange').value
  }
</script>


{% endblock page_content %}
